.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    width: 100%; /* Ensure full width for form groups */
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    display: flex;
    color: #555;
    width: 200px;
    padding: 5px;
    text-align: center;
}

.form-control {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #cb69be;
    box-shadow: 0 0 5px rgba(234, 157, 237, 0.5);
}

.button {
    background-color: #cb69be;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Make the button full width */
}

.button:hover {
    background-color: #cb69be;
}
.form-input{
    margin-left: 10px;
    align-items: center;    /* Center items horizontally */
    justify-content: center
}